<body>
  <app-nav-menu></app-nav-menu>
  <header class="mb-5 header"></header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer class="pt-3 footer  bg-dark text-light text-center mt-5" style="margin-top: 62px;">

    <div class="pt-5">
      <a href="/"><i class="fa fa-linkedin ms-3" aria-hidden="true"></i></a>
      <a href="/"><i class="fa fa-twitter ms-3" aria-hidden="true"></i></a>
      <a href="/"><i class="fa fa-facebook ms-3" aria-hidden="true"></i></a>
      <a href="/"><i class="fa fa-google-plus ms-3" aria-hidden="true"></i></a>
      <a href="/"><i class="fa fa-instagram ms-3" aria-hidden="true"></i></a>
      <a href="/"><i class="fa fa-github ms-3" aria-hidden="true"></i></a>
    </div>

    <div class="mt-3">
      <i class="fa">DokkyAirlines </i>
    </div>

    <div class=" text-muted">
      <i class="copyright">© 2023 Copyright: Dokkyoshi </i>
    </div>

  </footer>
</body>